

#header {
    transition: all 0.5s;
    z-index: 997;
    padding: 15px 0;
    background: rgba(40, 58, 90, 0.9);
}

#header h1 {
    margin: 0 0 10px 0;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    color: #fff;
}

#footer {
    transition: all 0.5s;
    padding: 5px 0;
    background: rgba(40, 58, 90, 0.9);
}

#footer h1 {
    font-size: 20px;
    font-weight: 200;
    line-height: px;
    color: #fff;
}

#mainBody {
    width: 100%;
    // height: 90vh;
    background: #37517e;
}

#mainBody label {
    margin: 0 0 10px 0;
    font-size: 25px;
    font-weight: 400;
    line-height: 56px;
    color: #fff;
}

#mainBody .button {
    font-size: 25px;
    font-weight: 700;
    line-height: 40px;
    background: rgba(23, 61, 133, 0.9);
    color: #fff;
    border:  1px #0d1522;
}