<html>
<body>
  <div id="header" class="container align-items-center">
    <div class="row ms-4">
      <div class="col-10">
        <h1 class="logo me-auto"><a href="#"><i>Tech PM</i></a></h1>
        <h6 class="ms-3">Technical Project Manager for Our Business </h6>
      </div>
      <div class="col mt-4">
        <button class="text-end" routerLink="/signup">Sign Up</button>
        <button class="text-end" routerLink="/login">Sign In</button>
      </div>
    </div>
  </div>

  <section id="hero" class="container-fluid block d-flex align-items-center">
    <div class="container-fluid d-flex align-items-center">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1"
          data-aos="fade-up" data-aos-delay="200">
          <h1>Better Solutions For Your Business</h1>
          <h2>We are team of talented developer making Better Solutions automated Tasks</h2>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
          <img src="assets/img/hero-img.png" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>
  </section>

  <div id="footer" class="container align-items-center">
    <h1>Copyright © 2023. All rights reserved.</h1> 
</div>
</body>

</html>