<div class="card">
  <div class="card-body">
    <form (ngSubmit)="addTimesheet()">

      <div class="container-fluid">

        <div class="mt-5 text-center">
          <h5>Add Timesheet</h5>
        </div>

        <div class="row mt-5">
          <div class="col-sm-1"></div>
          <div class="col"> <label for="name"><b>Name</b></label></div>
          <div class="col"><label><b>Swati Amberkar</b> </label></div>

          <div class="col"></div>
          <div class="col"></div>
          <div class="col"></div>
          <div class="col-sm-1"></div>
        </div>

        <div class="row mt-5">
          <div class="col-sm-1">
          </div>
          <div class="col"> <label for="name"><b>Entry Date</b></label></div>
          <div class="col">
            <div class="input-group date input-group-addon" data-provide="datepicker">
              <input class="form-control" placeholder="dd/mm/yyyy" name="d2" #c2="ngModel" [(ngModel)]="selectedDate"
                ngbDatepicker #d2="ngbDatepicker" />


              <span class="bi bi-calendar3" (click)="d2.toggle()"></span>

            </div>
          </div>
          <div class="col"></div>
          <div class="col"> <label for="name"><b>Task Date</b><span style="color: red">*</span>&nbsp;</label></div>
          <div class="col">
            <div class="input-group date" data-provide="datepicker">
              <input class="form-control" placeholder="dd/mm/yyyy" name="d2" #c2="ngModel" [(ngModel)]="selectedDate"
                ngbDatepicker #d2="ngbDatepicker" />
              <div class="input-group-addon">
                <span class="bi bi-calendar3" (click)="d2.toggle()"></span>
              </div>
            </div>
          </div>
          <div class="col-sm-1"></div>
        </div>

        <div class="row mt-5">
          <div class="col-sm-1"></div>
          <div class="col"> <label for="name"><b>Project</b>
              <span style="color: red">*</span>&nbsp;</label></div>
          <div class="col">

            <select class="form-select" (change)="selected()">
              <option selected>Select</option>
              <option *ngFor="let project of projects" [ngValue]="project">{{project.name}}</option>
            </select>
          </div>

          <div class="col"></div>
          <div class="col"> <label for="name"><b>Task</b><span style="color: red">*</span>&nbsp;</label></div>
          <div class="col">
            <select class="form-select" (change)="selected()">
              <option selected>Select</option>
              <option *ngFor="let task of tasks" [ngValue]="task">{{task.name}}</option>
            </select>
          </div>
          <div class="col-sm-1"></div>
        </div>

        <div class="row mt-5">
          <div class="col-sm-1"></div>
          <div class="col"> <label for="capital"><b>Description</b></label></div>
          <div class="col"> <input class="form-control" type="text" name="description"
              [(ngModel)]="timesheet.description"></div>

          <div class="col"></div>
          <div class="col"><label for="name"><b>Hours Invested</b>
              <span style="color: red">*</span>&nbsp;
            </label></div>
          <div class="col">
            <div style="padding: 0;">

              <input type="number" id="txtTotalHours" style="display: inline-block; width: 60px; margin-left: 5px;"
                name="TotalHours" min="0" max="24" value="08" class="len form-control">
              :
              <input type="number" id="txtTotalMin" style="display: inline-block; width: 60px; margin-left: 5px;"
                name="TotalMin" min="0" max="59" maxlength="2" value="00" class="len form-control">
              <input type="hidden" id="totalTimes" value="0">
            </div>
          </div>
          <div class="col-sm-1"></div>
        </div>

        <div class="mt-5 text-center">
          <input type="submit" value="Submit" class="btn btn-primary ">
        </div>
      </div>

    </form>
  </div>
</div>