<html>
<body>
  <div id="header" class="container align-items-center">
    <div class="row ms-4">
      <div class="col-10">
        <h6 class="ms-3">Welcome ABC </h6>
      </div>
      <div class="mt-4">
        <button class="text-end" routerLink="/addEmployee">Add Employee</button>
        <button class="text-end" routerLink="/listEmployee">View Employee</button>
        <button class="text-end" routerLink="/addProject">Add Project</button>
        <button class="text-end" routerLink="/listProject">View Project</button>
        <button class="text-end" routerLink="/addTask">Add Task</button>
        <button class="text-end" routerLink="/listTask">View Task</button>
        <button class="text-end" routerLink="/addTimesheet">Add Timesheet</button>
        <button class="text-end" routerLink="/TimesheetReport">Timesheet Report</button>
      </div>
    </div>
  </div>

  <section id="hero" class="container-fluid block d-flex align-items-center">
    <div class="container-fluid d-flex align-items-center">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1"
          data-aos="fade-up" data-aos-delay="200">
          <h1>Better Solutions For Your Business</h1>
          <h2>We are team of talented developer making Better Solutions automated Tasks</h2>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
          <img src="assets/img/hero-img.png" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>
  </section>

  <div id="footer" class="container align-items-center">
    <h1>Copyright © 2023. All rights reserved.</h1> 
</div>
</body>

</html>